In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
bdi2 = pd.read_csv('../projects/teis-Jswine08/Data/NSS data_BDI2 scores_20200101-20230131_20241106 (1).csv')
bdi2

C:\Users\jswin\AppData\Local\Temp\ipykernel_40692\3284343376.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  bdi2 = pd.read_csv('../projects/teis-Jswine08/Data/NSS data_BDI2 scores_20200101-20230131_20241106 (1).csv')

,StudentID,studentAssessmentID,resultStudentDomainID,Student TEIDS ID,domainID,domainText,ScoreTypeID,ScoreTypeText,StaffExternalID,testDate,...,AESign,isSSRequired,stdDevScore1,stdDevScore2,stdDevScore3,NCESign,totalCSS,totalCSSMin,totalCSSMax,NormType
0,2224693,8625078,138104116,52101,7,Self-Care,2.0,ItemDetails,34775.0,2/25/2022,...,NaN,1.0,NaN,NaN,NaN,NaN,322.0,301.0,343.0,2
1,2224693,8625078,138104117,52101,10,Adult Interaction,2.0,ItemDetails,34775.0,2/25/2022,...,NaN,1.0,NaN,NaN,NaN,NaN,413.0,403.0,423.0,2
2,2224693,8625078,138104118,52101,12,Self-Concept and Social Role,2.0,ItemDetails,34775.0,2/25/2022,...,NaN,1.0,NaN,NaN,NaN,NaN,365.0,355.0,375.0,2
3,2224693,8625078,138104119,52101,14,Receptive Communication,2.0,ItemDetails,34775.0,2/25/2022,...,NaN,1.0,NaN,NaN,NaN,NaN,343.0,333.0,353.0,2
4,2224693,8625078,138104120,52101,15,Expressive Communication,2.0,ItemDetails,34775.0,2/25/2022,...,NaN,1.0,NaN,NaN,NaN,NaN,288.0,267.0,309.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
325681,2319431,8761874,140602545,NaN,13,Communication,NaN,NaN,NaN,NaN,...,NaN,1.0,NaN,NaN,NaN,<,381.0,373.0,388.0,2
325682,2319431,8761874,140602546,NaN,16,Motor,NaN,NaN,NaN,NaN,...,NaN,1.0,NaN,NaN,NaN,NaN,427.0,420.0,433.0,2
325683,2319431,8761874,140602547,NaN,19,Perceptual Motor,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
325684,2319431,8761874,140602548,NaN,20,Cognitive,NaN,NaN,NaN,NaN,...,NaN,1.0,NaN,NaN,NaN,NaN,433.0,424.0,441.0,2
325685,2319431,8761874,140602549,NaN,22,Reasoning and Academic Skills,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2

In [3]:
bdi2_data = bdi2[['Student TEIDS ID','domainID','domainText','testDate','rawScore','scaledScore','DQScore','PRScore','NceScore','TScore','ZScore','AEScore']]
bdi2_data

,Student TEIDS ID,domainID,domainText,testDate,rawScore,scaledScore,DQScore,PRScore,NceScore,TScore,ZScore,AEScore
0,52101,7,Self-Care,2/25/2022,2.0,6.0,NaN,9.0,22.0,37.0,-1.33,0.0
1,52101,10,Adult Interaction,2/25/2022,14.0,15.0,NaN,95.0,85.0,67.0,1.67,5.0
2,52101,12,Self-Concept and Social Role,2/25/2022,6.0,11.0,NaN,63.0,57.0,53.0,0.33,2.0
3,52101,14,Receptive Communication,2/25/2022,4.0,6.0,NaN,9.0,22.0,37.0,-1.33,0.0
4,52101,15,Expressive Communication,2/25/2022,1.0,4.0,NaN,2.0,8.0,30.0,-2.00,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
325681,NaN,13,Communication,NaN,24.0,3.0,56.0,0.2,1.0,21.0,-2.93,NaN
325682,NaN,16,Motor,NaN,70.0,15.0,88.0,21.0,33.0,42.0,-0.80,NaN
325683,NaN,19,Perceptual Motor,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
325684,NaN,20,Cognitive,NaN,32.0,14.0,80.0,9.0,22.0,37.0,-1.33,NaN
325685,NaN,22,Reasoning and Academic Skills,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df_bdi2_data = bdi2[['Student TEIDS ID','domainID','domainText','testDate','rawScore','DQScore','ZScore']]
df_bdi2_data

,Student TEIDS ID,domainID,domainText,testDate,rawScore,DQScore,ZScore
0,52101,7,Self-Care,2/25/2022,2.0,NaN,-1.33
1,52101,10,Adult Interaction,2/25/2022,14.0,NaN,1.67
2,52101,12,Self-Concept and Social Role,2/25/2022,6.0,NaN,0.33
3,52101,14,Receptive Communication,2/25/2022,4.0,NaN,-1.33
4,52101,15,Expressive Communication,2/25/2022,1.0,NaN,-2.00
...,...,...,...,...,...,...,...
325681,NaN,13,Communication,NaN,24.0,56.0,-2.93
325682,NaN,16,Motor,NaN,70.0,88.0,-0.80
325683,NaN,19,Perceptual Motor,NaN,NaN,NaN,NaN
325684,NaN,20,Cognitive,NaN,32.0,80.0,-1.33
325685,NaN,22,Reasoning and Academic Skills,NaN,NaN,NaN,NaN

In [5]:
df_bdi2_data = bdi2[['Student TEIDS ID','domainText','testDate','rawScore','DQScore','ZScore']]
df_bdi2_data

score_columns = ['rawScore', 'DQScore', 'ZScore']
#Melt the DataFrame to long format
df_melted = df_bdi2_data.melt(id_vars=["Student TEIDS ID", "domainText"], 
                              value_vars=score_columns, 
                              var_name="ScoreType", 
                              value_name="Score")
df_melted["ColumnName"] = df_melted["domainText"] + " " + df_melted["ScoreType"]
#Pivot the data to have 'Student TEIDS ID' as rows and dynamic columns
df_pivoted = df_melted.pivot_table(index="Student TEIDS ID", 
                                   columns="ColumnName", 
                                   values="Score", 
                                   aggfunc="first")
df_pivoted.columns = df_pivoted.columns.get_level_values(0)
df_result = df_pivoted.reset_index()
df_result

ColumnName,Student TEIDS ID,Adaptive DQScore,Adaptive ZScore,Adaptive rawScore,Adult Interaction ZScore,Adult Interaction rawScore,Attention and Memory ZScore,Attention and Memory rawScore,Cognitive DQScore,Cognitive ZScore,...,Personal-Social rawScore,Reasoning and Academic Skills ZScore,Reasoning and Academic Skills rawScore,Receptive Communication ZScore,Receptive Communication rawScore,Screener Test Total Score rawScore,Self-Care ZScore,Self-Care rawScore,Self-Concept and Social Role ZScore,Self-Concept and Social Role rawScore
0,52101,80.0,-1.33,2.0,1.67,14.0,-0.33,6.0,97.0,-0.20,...,20.0,NaN,NaN,-1.33,4.0,NaN,-1.33,2.0,0.33,6.0
1,416571,65.0,-2.33,33.0,-1.67,37.0,-2.00,28.0,66.0,-2.27,...,65.0,-2.00,8.0,-2.00,27.0,NaN,-2.00,32.0,-2.67,20.0
2,419105,95.0,-0.33,53.0,-0.67,44.0,-1.00,35.0,77.0,-1.53,...,82.0,-1.67,10.0,-1.00,32.0,NaN,0.00,46.0,-1.67,32.0
3,419833,105.0,0.33,57.0,-0.33,45.0,0.67,40.0,104.0,0.27,...,97.0,-0.67,12.0,2.00,41.0,NaN,0.67,47.0,0.33,44.0
4,423227,65.0,-2.33,32.0,-3.00,20.0,-2.33,26.0,59.0,-2.73,...,38.0,-2.67,4.0,-3.00,22.0,NaN,-1.67,32.0,-2.67,14.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17353,571437,90.0,-0.67,36.0,-2.00,30.0,-0.67,31.0,88.0,-0.80,...,57.0,-0.67,10.0,-1.00,26.0,NaN,-2.00,26.0,-1.67,18.0
17354,580447,60.0,-2.67,0.0,-0.67,5.0,-1.00,4.0,83.0,-1.13,...,6.0,NaN,NaN,-1.00,5.0,NaN,-2.67,0.0,-2.33,1.0
17355,580709,70.0,-2.00,35.0,-2.67,30.0,-2.33,26.0,68.0,-2.13,...,56.0,-1.00,12.0,-3.00,20.0,NaN,-2.33,31.0,-3.00,12.0
17356,650159,93.0,-0.47,38.0,0.33,43.0,-1.00,30.0,84.0,-1.07,...,74.0,-0.67,9.0,-1.00,26.0,NaN,-1.00,30.0,-0.33,27.0
17357,xxxxxxx,90.0,-0.67,22.0,1.00,32.0,0.00,26.0,100.0,0.00,...,45.0,NaN,NaN,-1.33,17.0,NaN,-0.67,22.0,-0.67,13.0

In [6]:
bdi3 = pd.read_csv('../projects/teis-Jswine08/Data/NSS data_BDI3 Scores 20230101 20240630_Compiled_20241107.xlsx - BDI3 Scores 20230101 20240630_C.csv')
bdi3

C:\Users\jswin\AppData\Local\Temp\ipykernel_40692\3847495039.py:1: DtypeWarning: Columns (9,21) have mixed types. Specify dtype option on import or set low_memory=False.
  bdi3 = pd.read_csv('../projects/teis-Jswine08/Data/NSS data_BDI3 Scores 20230101 20240630_Compiled_20241107.xlsx - BDI3 Scores 20230101 20240630_C.csv')

,Last Name,First Name,Gender,Date of Birth,Location - Root Level (PC),Location - Root Level (AH),Location - Sub Level 1,Location - Sub Level 2,Location - Sub Level 3,Child ID,...,Cognitive-Perception and Concepts RS,Cognitive-Perception and Concepts SS,Cognitive-Perception and Concepts PR,Cognitive-Perception and Concepts AE,Cognitive-Perception and Concepts RDI,Cognitive-Perception and Concepts CSS,Cognitive-Perception and Concepts CSS 90%,Cognitive-Perception and Concepts Z-Score,Cognitive-Perception and Concepts T-Score,Cognitive-Perception and Concepts NCE
0,NaN,NaN,NaN,NaN,NaN,Tennessee Early Intervention Sys,Greater Nashville,NaN,NaN,474074,...,13.0,4.0,2,25,Jan-90,464.0,450 - 479,2.00,30.0,8
1,NaN,NaN,NaN,NaN,NaN,Tennessee Early Intervention Sys,Greater Nashville,NaN,NaN,474186,...,24.0,8.0,25,40,68/90,510.0,502 - 517,0.67,43.0,36
2,NaN,NaN,NaN,NaN,NaN,Tennessee Early Intervention Sys,Upper Cumberland,NaN,NaN,474641,...,26.0,9.0,37,42,77/90,514.0,507 - 522,0.33,47.0,43
3,NaN,NaN,NaN,NaN,NaN,Tennessee Early Intervention Sys,Southwest,NaN,NaN,474848,...,17.0,6.0,9,32,25/90,487.0,476 - 497,1.33,37.0,22
4,NaN,NaN,NaN,NaN,NaN,Tennessee Early Intervention Sys,South Central,NaN,NaN,474967,...,12.0,3.0,1,22,Jan-90,451.0,429 - 473,2.33,27.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34974,NaN,NaN,NaN,NaN,NaN,Tennessee Early Intervention Sys,Memphis Delta,NaN,NaN,NaN,...,10.0,4.0,2,15,Feb-90,426.0,408 - 444,2.00,30.0,8
34975,NaN,NaN,NaN,NaN,NaN,Tennessee Early Intervention Sys,Southeast Tennessee,NaN,NaN,NaN,...,10.0,4.0,2,15,Feb-90,426.0,408 - 444,2.00,30.0,8
34976,NaN,NaN,NaN,NaN,NaN,Tennessee Early Intervention Sys,East Tennessee,NaN,NaN,NaN,...,11.0,5.0,5,18,Feb-90,437.0,421 - 453,1.67,33.0,15
34977,NaN,NaN,NaN,NaN,NaN,Tennessee Early Intervention Sys,First Tennessee,NaN,NaN,NaN,...,9.0,8.0,25,12,58/90,411.0,392 - 431,0.67,43.0,36
34978,NaN,NaN,NaN,NaN,NaN,Tennessee Early Intervention Sys,East Tennessee,NaN,NaN,5777288,...,12.0,8.0,25,22,66/90,451.0,429 - 473,0.67,43.0,36

In [7]:
bdi3_new_columns = bdi3[['TEIDS Child ID','Motor-Gross Motor RS', 'Adaptive-Self Care RS', 'Motor-Fine Motor RS', 'Motor-Perceptual Motor RS', 'Adaptive-Personal Responsibility RS', 'Social Emotional-Adult Interaction RS', 'Social Emotional-Peer Interaction RS','Social Emotional-Self Concept / Social Role RS','Communication-Receptive Communication RS','Communication-Expressive Communication RS','Cognitive-Attention and Memory RS','Cognitive-Reasoning / Academic Skills RS','Cognitive-Perception and Concepts RS', 'TEIDS Child ID', 'Motor-Fine Motor Date of Testing', 'BDI-3 Total Developmental Quotient', 'Adaptive Z-Score', 'Social-Emotional Z-Score', 'Communication Z-Score', 'Motor Z-Score', 'Cognitive Z-Score', 'Adaptive-Self Care Z-Score', 'Adaptive-Personal Responsibility Z-Score', 'Social Emotional-Adult Interaction Z-Score', 'Social Emotional-Peer Interaction Z-Score', 'Social Emotional-Self Concept / Social Role Z-Score', 'Communication-Receptive Communication Z-Score', 'Communication-Expressive Communication Z-Score', 'Motor-Gross Motor Z-Score', 'Motor-Fine Motor Z-Score', 'Motor-Perceptual Motor Z-Score', 'Cognitive-Attention and Memory Z-Score', 'Cognitive-Reasoning / Academic Skills Z-Score', 'Cognitive-Perception and Concepts Z-Score', 'Cognitive-Perception and Concepts Date of Testing']]

In [8]:
bdi3_new_columns

,TEIDS Child ID,Motor-Gross Motor RS,Adaptive-Self Care RS,Motor-Fine Motor RS,Motor-Perceptual Motor RS,Adaptive-Personal Responsibility RS,Social Emotional-Adult Interaction RS,Social Emotional-Peer Interaction RS,Social Emotional-Self Concept / Social Role RS,Communication-Receptive Communication RS,...,Social Emotional-Self Concept / Social Role Z-Score,Communication-Receptive Communication Z-Score,Communication-Expressive Communication Z-Score,Motor-Gross Motor Z-Score,Motor-Fine Motor Z-Score,Motor-Perceptual Motor Z-Score,Cognitive-Attention and Memory Z-Score,Cognitive-Reasoning / Academic Skills Z-Score,Cognitive-Perception and Concepts Z-Score,Cognitive-Perception and Concepts Date of Testing
0,474074.0,64.0,38.0,34.0,11.0,30.0,47.0,26.0,36.0,22.0,...,0.67,2.33,1.67,0.67,0.67,1.67,1.00,0.33,2.00,9/13/2023
1,474186.0,65.0,51.0,37.0,17.0,27.0,46.0,27.0,41.0,42.0,...,0.00,0.33,0.67,0.67,0.33,0.33,1.00,0.33,0.67,10/26/2023
2,474641.0,67.0,39.0,41.0,18.0,15.0,42.0,13.0,37.0,47.0,...,0.33,0.00,0.33,0.33,0.33,0.33,0.33,0.67,0.33,7/31/2023
3,474848.0,58.0,27.0,39.0,19.0,6.0,39.0,15.0,21.0,38.0,...,1.67,0.33,0.33,1.00,0.33,0.33,0.67,0.00,1.33,8/4/2023
4,474967.0,50.0,30.0,31.0,10.0,10.0,38.0,18.0,28.0,20.0,...,1.00,2.33,2.00,2.33,1.00,2.00,1.00,1.67,2.33,7/31/2023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34974,NaN,59.0,32.0,31.0,10.0,8.0,33.0,22.0,26.0,11.0,...,0.67,3.00,2.67,0.00,0.00,1.33,1.00,1.33,2.00,11/29/2023
34975,NaN,54.0,25.0,21.0,12.0,2.0,30.0,6.0,13.0,9.0,...,2.67,3.00,3.00,1.00,2.00,0.33,2.67,1.00,2.00,12/1/2023
34976,NaN,61.0,34.0,26.0,12.0,14.0,32.0,9.0,29.0,33.0,...,0.33,0.00,0.33,0.00,1.67,0.33,0.67,0.00,1.67,12/4/2023
34977,NaN,43.0,23.0,16.0,NaN,NaN,29.0,NaN,16.0,15.0,...,0.67,0.67,0.00,0.00,1.33,NaN,0.00,NaN,0.67,12/6/2023
34978,NaN,52.0,30.0,28.0,12.0,21.0,46.0,24.0,40.0,29.0,...,1.67,0.33,1.00,0.67,0.33,0.33,1.33,0.33,0.67,4/9/2024

In [9]:
eco = pd.read_csv('../projects/teis-Jswine08/Data/NSS_ECO Data Ind 3 FFY 2023-24 20241211.xlsx - ECO with Exit23-24 .csv')
eco

C:\Users\jswin\AppData\Local\Temp\ipykernel_40692\638575659.py:1: DtypeWarning: Columns (89,93,94,95,98,102,106,107,108,109,110,128,129,136,139) have mixed types. Specify dtype option on import or set low_memory=False.
  eco = pd.read_csv('../projects/teis-Jswine08/Data/NSS_ECO Data Ind 3 FFY 2023-24 20241211.xlsx - ECO with Exit23-24 .csv')

,DISTRICT,CHILD_ID,Child ID_ Assessement point,ECO_Entry_DATE,Ent SOCIAL_SCALE,Ent KNOWLEDGE_SCALE,Ent APPROPRIATE_ACTION_SCALE,ECO_Exit_DATE,Exit SOCIAL_SCALE,Exit KNOWLEDGE_SCALE,...,BDI-2\nEntry SOCIAL_SCALE,BDI-2\nEntry KNOWLEDGE_SCALE,BDI-2\nEntry APPROPRIATE_ACTION_SCALE,BDI2 Entrance S/E\nStd Dev (Zscore),BDI2 Entrance\nCommunication Std Dev. (Z Score),BDI2 Entrance\nCognition Std Dev. (Z Score),BDI2 Entrance\nK/S\nStd Dev (Zscore),BDI2 Entrance\nAdaptive Std Dev (Zscore),BDI2 Entrance\nMotor Std Dev (Zscore),BDI2 Entrance\nA/B\nStd Dev (Zscore)
0,GN,473991,NaN,1/7/2020,1.0,1.0,1.0,12/27/2022,7.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,GN,474186,NaN,2/13/2020,1.0,1.0,1.0,10/26/2023,7.0,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ET,474575,NaN,1/17/2020,3.0,5.0,4.0,7/29/2020,3.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NW,474623,NaN,1/22/2019,3.0,1.0,2.0,12/16/2022,4.0,4.0,...,3.0,6.0,2.0,-1.8,-1.27,-1.33,-1.30,-2.67,-1.67,-2.17
4,SW,474848,NaN,7/9/2021,3.0,3.0,6.0,8/4/2023,7.0,7.0,...,3.0,1.0,6.0,-2.0,-3.00,-2.47,-2.74,-1.67,-0.67,-1.17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9994,SC,579717,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9995,SC,579729,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9996,ET,580243,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9997,FT,580375,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9998,MD,580840,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
df_eco_data = eco[['CHILD_ID','ECO_Entry_DATE','ECO_Exit_DATE','Initial IFSP Date','Exit Date \nOr end of FY','TEIDS\nECO_Entry_DATE','AEPSi\nECO_Entry_DATE','AEPSi \nECO_Exit_DATE','BDI 3\nECO_Entry_DATE','BDI 3\nECO_Exit_DATE','BDI2 Entry Date', 'More than 182 days btwn ECO (continued) and Exit?', 'Days btw I-IFSP to Exit ECO']]

In [11]:
df_eco_data

,CHILD_ID,ECO_Entry_DATE,ECO_Exit_DATE,Initial IFSP Date,Exit Date \nOr end of FY,TEIDS\nECO_Entry_DATE,AEPSi\nECO_Entry_DATE,AEPSi \nECO_Exit_DATE,BDI 3\nECO_Entry_DATE,BDI 3\nECO_Exit_DATE,BDI2 Entry Date,More than 182 days btwn ECO (continued) and Exit?,Days btw I-IFSP to Exit ECO
0,473991,1/7/2020,12/27/2022,1/7/2020,9/8/2023,1/7/2020,2/18/2020,11/14/2022,NaN,NaN,NaN,Yes,1085
1,474186,2/13/2020,10/26/2023,1/14/2020,11/2/2023,2/13/2020,2/13/2020,10/20/2022,NaN,10/26/2023,NaN,Yes,1381
2,474575,1/17/2020,7/29/2020,1/17/2020,9/5/2023,1/17/2020,2/12/2020,1/24/2023,NaN,NaN,NaN,Yes,194
3,474623,1/22/2019,12/16/2022,1/22/2020,9/21/2023,1/22/2019,NaN,NaN,NaN,NaN,1/8/2020,Yes,1059
4,474848,7/9/2021,8/4/2023,7/9/2021,12/13/2023,7/9/2021,7/23/2021,11/4/2022,NaN,8/4/2023,6/22/2021,Yes,756
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9994,579717,NaN,NaN,5/29/2024,6/5/2024,NaN,NaN,NaN,5/9/2024,NaN,NaN,No,-45441
9995,579729,NaN,NaN,6/13/2024,6/30/2024,NaN,NaN,NaN,5/14/2024,NaN,NaN,No,-45456
9996,580243,NaN,NaN,6/17/2024,6/28/2024,NaN,NaN,NaN,5/13/2024,NaN,NaN,No,-45460
9997,580375,NaN,NaN,6/5/2024,6/13/2024,NaN,NaN,NaN,5/20/2024,NaN,NaN,No,-45448
9998,580840,NaN,NaN,6/4/2024,6/4/2024,NaN,NaN,NaN,5/22/2024,NaN,NaN,No,-45447

In [13]:
df_eco_data['ECO_Entry_DATE'] = pd.to_datetime(df_eco_data['ECO_Entry_DATE'])
df_eco_data['BDI 3\nECO_Entry_DATE'] = pd.to_datetime(df_eco_data['BDI 3\nECO_Entry_DATE'])

C:\Users\jswin\AppData\Local\Temp\ipykernel_40692\1809967335.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_eco_data['ECO_Entry_DATE'] = pd.to_datetime(df_eco_data['ECO_Entry_DATE'])
C:\Users\jswin\AppData\Local\Temp\ipykernel_40692\1809967335.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_eco_data['BDI 3\nECO_Entry_DATE'] = pd.to_datetime(df_eco_data['BDI 3\nECO_Entry_DATE'])

In [42]:
df_eco_data = df_eco_data.dropna(axis=0, subset=['BDI 3\nECO_Exit_DATE'])
df_eco_data

,CHILD_ID,ECO_Entry_DATE,ECO_Exit_DATE,Initial IFSP Date,Exit Date \nOr end of FY,TEIDS\nECO_Entry_DATE,AEPSi\nECO_Entry_DATE,AEPSi \nECO_Exit_DATE,BDI 3\nECO_Entry_DATE,BDI 3\nECO_Exit_DATE,BDI2 Entry Date,More than 182 days btwn ECO (continued) and Exit?,Days btw I-IFSP to Exit ECO,Entry Test Date
1,474186,2020-02-13,10/26/2023,1/14/2020,11/2/2023,2/13/2020,2/13/2020,10/20/2022,NaT,10/26/2023,NaN,Yes,1381,NaT
4,474848,2021-07-09,8/4/2023,7/9/2021,12/13/2023,7/9/2021,7/23/2021,11/4/2022,NaT,8/4/2023,6/22/2021,Yes,756,2021-06-22
5,474967,2020-01-31,7/31/2023,1/31/2020,10/6/2023,1/31/2020,NaN,NaN,NaT,7/31/2023,1/7/2020,Yes,1277,2020-01-07
6,475636,2020-09-03,7/19/2023,9/3/2020,5/17/2024,9/3/2020,NaN,NaN,NaT,7/19/2023,NaN,Yes,1049,NaT
7,475907,2020-02-20,11/15/2023,2/20/2020,11/28/2023,2/20/2020,7/2/2020,12/21/2022,NaT,11/15/2023,1/17/2020,Yes,1364,2020-01-17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9638,569363,2023-12-14,10/30/2024,1/26/2024,6/24/2024,NaN,NaN,NaN,2023-12-14,10/30/2024,NaN,No,278,2023-12-14
9646,569449,2023-12-21,10/31/2024,1/25/2024,6/30/2024,NaN,NaN,NaN,2023-12-21,10/31/2024,NaN,No,280,2023-12-21
9688,570207,NaT,NaN,2/2/2024,6/30/2024,NaN,NaN,NaN,NaT,10/24/2024,NaN,No,-45324,NaT
9692,570254,2024-01-04,10/23/2024,2/12/2024,6/30/2024,NaN,NaN,NaN,2024-01-04,10/23/2024,NaN,No,254,2024-01-04
9714,570632,2024-01-11,10/29/2024,2/7/2024,6/30/2024,NaN,NaN,NaN,2024-01-11,10/29/2024,NaN,No,265,2024-01-11

In [44]:
dates_needed = df_eco_data[['CHILD_ID', 'ECO_Entry_DATE', 'ECO_Exit_DATE', 'Initial IFSP Date', 'TEIDS\nECO_Entry_DATE', 'BDI 3\nECO_Entry_DATE', 'BDI 3\nECO_Exit_DATE', 'BDI2 Entry Date']]
dates_needed

,CHILD_ID,ECO_Entry_DATE,ECO_Exit_DATE,Initial IFSP Date,TEIDS\nECO_Entry_DATE,BDI 3\nECO_Entry_DATE,BDI 3\nECO_Exit_DATE,BDI2 Entry Date
1,474186,2020-02-13,10/26/2023,1/14/2020,2/13/2020,NaT,10/26/2023,NaN
4,474848,2021-07-09,8/4/2023,7/9/2021,7/9/2021,NaT,8/4/2023,6/22/2021
5,474967,2020-01-31,7/31/2023,1/31/2020,1/31/2020,NaT,7/31/2023,1/7/2020
6,475636,2020-09-03,7/19/2023,9/3/2020,9/3/2020,NaT,7/19/2023,NaN
7,475907,2020-02-20,11/15/2023,2/20/2020,2/20/2020,NaT,11/15/2023,1/17/2020
...,...,...,...,...,...,...,...,...
9638,569363,2023-12-14,10/30/2024,1/26/2024,NaN,2023-12-14,10/30/2024,NaN
9646,569449,2023-12-21,10/31/2024,1/25/2024,NaN,2023-12-21,10/31/2024,NaN
9688,570207,NaT,NaN,2/2/2024,NaN,NaT,10/24/2024,NaN
9692,570254,2024-01-04,10/23/2024,2/12/2024,NaN,2024-01-04,10/23/2024,NaN
9714,570632,2024-01-11,10/29/2024,2/7/2024,NaN,2024-01-11,10/29/2024,NaN

In [46]:
trimmed_dates = df_eco_data[['CHILD_ID', 'ECO_Entry_DATE', 'TEIDS\nECO_Entry_DATE', 'BDI 3\nECO_Entry_DATE', 'BDI 3\nECO_Exit_DATE', 'BDI2 Entry Date']]
trimmed_dates

,CHILD_ID,ECO_Entry_DATE,TEIDS\nECO_Entry_DATE,BDI 3\nECO_Entry_DATE,BDI 3\nECO_Exit_DATE,BDI2 Entry Date
1,474186,2020-02-13,2/13/2020,NaT,10/26/2023,NaN
4,474848,2021-07-09,7/9/2021,NaT,8/4/2023,6/22/2021
5,474967,2020-01-31,1/31/2020,NaT,7/31/2023,1/7/2020
6,475636,2020-09-03,9/3/2020,NaT,7/19/2023,NaN
7,475907,2020-02-20,2/20/2020,NaT,11/15/2023,1/17/2020
...,...,...,...,...,...,...
9638,569363,2023-12-14,NaN,2023-12-14,10/30/2024,NaN
9646,569449,2023-12-21,NaN,2023-12-21,10/31/2024,NaN
9688,570207,NaT,NaN,NaT,10/24/2024,NaN
9692,570254,2024-01-04,NaN,2024-01-04,10/23/2024,NaN
9714,570632,2024-01-11,NaN,2024-01-11,10/29/2024,NaN

In [ ]:
no_nulls_eco_exit['ECO_Entry_DATE'].tolist()

def dates (date1, date2):
    comparison= np.where(no_nulls_eco_exit[date1]<no_nulls_eco_exit[date2])
    return comparison

df1 = dates('BDI2 Entry Date', 'BDI 3\nECO_Entry_DATE')
df1

In [19]:
df_eco_data[df_eco_data['CHILD_ID']==473991]

,CHILD_ID,ECO_Entry_DATE,ECO_Exit_DATE,Initial IFSP Date,Exit Date \nOr end of FY,TEIDS\nECO_Entry_DATE,AEPSi\nECO_Entry_DATE,AEPSi \nECO_Exit_DATE,BDI 3\nECO_Entry_DATE,BDI 3\nECO_Exit_DATE,BDI2 Entry Date,More than 182 days btwn ECO (continued) and Exit?,Days btw I-IFSP to Exit ECO
0,473991,2020-01-07,12/27/2022,1/7/2020,9/8/2023,1/7/2020,2/18/2020,11/14/2022,NaT,NaN,NaN,Yes,1085

In [21]:
bdi3_new_columns['Cognitive-Perception and Concepts Date of Testing'] = pd.to_datetime(bdi3_new_columns['Cognitive-Perception and Concepts Date of Testing'])

C:\Users\jswin\AppData\Local\Temp\ipykernel_40692\2346917800.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bdi3_new_columns['Cognitive-Perception and Concepts Date of Testing'] = pd.to_datetime(bdi3_new_columns['Cognitive-Perception and Concepts Date of Testing'])

In [23]:
bdi3_new_columns.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34979 entries, 0 to 34978
Data columns (total 36 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   TEIDS Child ID                                       34661 non-null  float64
 1   Motor-Gross Motor RS                                 34954 non-null  float64
 2   Adaptive-Self Care RS                                34968 non-null  float64
 3   Motor-Fine Motor RS                                  34949 non-null  float64
 4   Motor-Perceptual Motor RS                            17410 non-null  float64
 5   Adaptive-Personal Responsibility RS                  17421 non-null  float64
 6   Social Emotional-Adult Interaction RS                34960 non-null  float64
 7   Social Emotional-Peer Interaction RS                 17418 non-null  float64
 8   Social Emotional-Self Concept / Social Role RS       34959 non-null  float64
 9   Communication-Receptive Communication RS             34960 non-null  float64
 10  Communication-Expressive Communication RS            34944 non-null  float64
 11  Cognitive-Attention and Memory RS                    34955 non-null  float64
 12  Cognitive-Reasoning / Academic Skills RS             17415 non-null  float64
 13  Cognitive-Perception and Concepts RS                 34952 non-null  float64
 14  TEIDS Child ID                                       34661 non-null  float64
 15  Motor-Fine Motor Date of Testing                     34949 non-null  object
 16  BDI-3 Total Developmental Quotient                   34902 non-null  float64
 17  Adaptive Z-Score                                     34967 non-null  float64
 18  Social-Emotional Z-Score                             34953 non-null  float64
 19  Communication Z-Score                                34940 non-null  float64
 20  Motor Z-Score                                        34939 non-null  float64
 21  Cognitive Z-Score                                    34950 non-null  float64
 22  Adaptive-Self Care Z-Score                           34968 non-null  float64
 23  Adaptive-Personal Responsibility Z-Score             17421 non-null  float64
 24  Social Emotional-Adult Interaction Z-Score           34960 non-null  float64
 25  Social Emotional-Peer Interaction Z-Score            17418 non-null  float64
 26  Social Emotional-Self Concept / Social Role Z-Score  34959 non-null  float64
 27  Communication-Receptive Communication Z-Score        34960 non-null  float64
 28  Communication-Expressive Communication Z-Score       34944 non-null  float64
 29  Motor-Gross Motor Z-Score                            34954 non-null  float64
 30  Motor-Fine Motor Z-Score                             34949 non-null  float64
 31  Motor-Perceptual Motor Z-Score                       17410 non-null  float64
 32  Cognitive-Attention and Memory Z-Score               34955 non-null  float64
 33  Cognitive-Reasoning / Academic Skills Z-Score        17415 non-null  float64
 34  Cognitive-Perception and Concepts Z-Score            34952 non-null  float64
 35  Cognitive-Perception and Concepts Date of Testing    34952 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(34), object(1)
memory usage: 9.6+ MB

In [25]:
bdi3_new_columns['Cognitive-Perception and Concepts Date of Testing'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 34979 entries, 0 to 34978
Series name: Cognitive-Perception and Concepts Date of Testing
Non-Null Count  Dtype
--------------  -----
34952 non-null  datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 273.4 KB

In [27]:
combined = df_result.join(bdi3_new_columns, how='outer')
combined

,Student TEIDS ID,Adaptive DQScore,Adaptive ZScore,Adaptive rawScore,Adult Interaction ZScore,Adult Interaction rawScore,Attention and Memory ZScore,Attention and Memory rawScore,Cognitive DQScore,Cognitive ZScore,...,Social Emotional-Self Concept / Social Role Z-Score,Communication-Receptive Communication Z-Score,Communication-Expressive Communication Z-Score,Motor-Gross Motor Z-Score,Motor-Fine Motor Z-Score,Motor-Perceptual Motor Z-Score,Cognitive-Attention and Memory Z-Score,Cognitive-Reasoning / Academic Skills Z-Score,Cognitive-Perception and Concepts Z-Score,Cognitive-Perception and Concepts Date of Testing
0,52101,80.0,-1.33,2.0,1.67,14.0,-0.33,6.0,97.0,-0.20,...,0.67,2.33,1.67,0.67,0.67,1.67,1.00,0.33,2.00,2023-09-13
1,416571,65.0,-2.33,33.0,-1.67,37.0,-2.00,28.0,66.0,-2.27,...,0.00,0.33,0.67,0.67,0.33,0.33,1.00,0.33,0.67,2023-10-26
2,419105,95.0,-0.33,53.0,-0.67,44.0,-1.00,35.0,77.0,-1.53,...,0.33,0.00,0.33,0.33,0.33,0.33,0.33,0.67,0.33,2023-07-31
3,419833,105.0,0.33,57.0,-0.33,45.0,0.67,40.0,104.0,0.27,...,1.67,0.33,0.33,1.00,0.33,0.33,0.67,0.00,1.33,2023-08-04
4,423227,65.0,-2.33,32.0,-3.00,20.0,-2.33,26.0,59.0,-2.73,...,1.00,2.33,2.00,2.33,1.00,2.00,1.00,1.67,2.33,2023-07-31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34974,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.67,3.00,2.67,0.00,0.00,1.33,1.00,1.33,2.00,2023-11-29
34975,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.67,3.00,3.00,1.00,2.00,0.33,2.67,1.00,2.00,2023-12-01
34976,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.33,0.00,0.33,0.00,1.67,0.33,0.67,0.00,1.67,2023-12-04
34977,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.67,0.67,0.00,0.00,1.33,NaN,0.00,NaN,0.67,2023-12-06
34978,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.67,0.33,1.00,0.67,0.33,0.33,1.33,0.33,0.67,2024-04-09

total_combined = combined.join(trimmed_dates, how='outer')
total_combined

In [ ]:
total_combined[total_combined['Student TEIDS ID']==474848]

In [32]:
df_eco_data['Entry Test Date'] = df_eco_data['BDI 3\nECO_Entry_DATE'].where(df_eco_data['BDI 3\nECO_Entry_DATE'] == df_eco_data['ECO_Entry_DATE'], other = df_eco_data['BDI2 Entry Date'])
df_eco_data

C:\Users\jswin\AppData\Local\Temp\ipykernel_40692\942801580.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_eco_data['Entry Test Date'] = df_eco_data['BDI 3\nECO_Entry_DATE'].where(df_eco_data['BDI 3\nECO_Entry_DATE'] == df_eco_data['ECO_Entry_DATE'], other = df_eco_data['BDI2 Entry Date'])

,CHILD_ID,ECO_Entry_DATE,ECO_Exit_DATE,Initial IFSP Date,Exit Date \nOr end of FY,TEIDS\nECO_Entry_DATE,AEPSi\nECO_Entry_DATE,AEPSi \nECO_Exit_DATE,BDI 3\nECO_Entry_DATE,BDI 3\nECO_Exit_DATE,BDI2 Entry Date,More than 182 days btwn ECO (continued) and Exit?,Days btw I-IFSP to Exit ECO,Entry Test Date
0,473991,2020-01-07,12/27/2022,1/7/2020,9/8/2023,1/7/2020,2/18/2020,11/14/2022,NaT,NaN,NaN,Yes,1085,NaT
1,474186,2020-02-13,10/26/2023,1/14/2020,11/2/2023,2/13/2020,2/13/2020,10/20/2022,NaT,10/26/2023,NaN,Yes,1381,NaT
2,474575,2020-01-17,7/29/2020,1/17/2020,9/5/2023,1/17/2020,2/12/2020,1/24/2023,NaT,NaN,NaN,Yes,194,NaT
3,474623,2019-01-22,12/16/2022,1/22/2020,9/21/2023,1/22/2019,NaN,NaN,NaT,NaN,1/8/2020,Yes,1059,2020-01-08
4,474848,2021-07-09,8/4/2023,7/9/2021,12/13/2023,7/9/2021,7/23/2021,11/4/2022,NaT,8/4/2023,6/22/2021,Yes,756,2021-06-22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9994,579717,NaT,NaN,5/29/2024,6/5/2024,NaN,NaN,NaN,2024-05-09,NaN,NaN,No,-45441,NaT
9995,579729,NaT,NaN,6/13/2024,6/30/2024,NaN,NaN,NaN,2024-05-14,NaN,NaN,No,-45456,NaT
9996,580243,NaT,NaN,6/17/2024,6/28/2024,NaN,NaN,NaN,2024-05-13,NaN,NaN,No,-45460,NaT
9997,580375,NaT,NaN,6/5/2024,6/13/2024,NaN,NaN,NaN,2024-05-20,NaN,NaN,No,-45448,NaT
9998,580840,NaT,NaN,6/4/2024,6/4/2024,NaN,NaN,NaN,2024-05-22,NaN,NaN,No,-45447,NaT

In [34]:
subdomain3 = bdi3_new_columns[['Cognitive-Perception and Concepts RS', 'Cognitive-Reasoning / Academic Skills RS', 'Cognitive-Attention and Memory RS', 'Motor-Perceptual Motor RS', 'Motor-Fine Motor RS', 'Motor-Gross Motor RS', 'Communication-Expressive Communication RS', 'Communication-Receptive Communication RS', 'Social Emotional-Self Concept / Social Role RS', 'Social Emotional-Peer Interaction RS', 'Social Emotional-Adult Interaction RS', 'Adaptive-Personal Responsibility RS', 'Adaptive-Self Care RS']]
subdomain3

,Cognitive-Perception and Concepts RS,Cognitive-Reasoning / Academic Skills RS,Cognitive-Attention and Memory RS,Motor-Perceptual Motor RS,Motor-Fine Motor RS,Motor-Gross Motor RS,Communication-Expressive Communication RS,Communication-Receptive Communication RS,Social Emotional-Self Concept / Social Role RS,Social Emotional-Peer Interaction RS,Social Emotional-Adult Interaction RS,Adaptive-Personal Responsibility RS,Adaptive-Self Care RS
0,13.0,17.0,29.0,11.0,34.0,64.0,40.0,22.0,36.0,26.0,47.0,30.0,38.0
1,24.0,20.0,30.0,17.0,37.0,65.0,50.0,42.0,41.0,27.0,46.0,27.0,51.0
2,26.0,22.0,37.0,18.0,41.0,67.0,58.0,47.0,37.0,13.0,42.0,15.0,39.0
3,17.0,17.0,30.0,19.0,39.0,58.0,51.0,38.0,21.0,15.0,39.0,6.0,27.0
4,12.0,7.0,28.0,10.0,31.0,50.0,33.0,20.0,28.0,18.0,38.0,10.0,30.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
34974,10.0,6.0,24.0,10.0,31.0,59.0,19.0,11.0,26.0,22.0,33.0,8.0,32.0
34975,10.0,7.0,15.0,12.0,21.0,54.0,12.0,9.0,13.0,6.0,30.0,2.0,25.0
34976,11.0,12.0,28.0,12.0,26.0,61.0,42.0,33.0,29.0,9.0,32.0,14.0,34.0
34977,9.0,NaN,23.0,NaN,16.0,43.0,19.0,15.0,16.0,NaN,29.0,NaN,23.0
34978,12.0,9.0,22.0,12.0,28.0,52.0,24.0,29.0,40.0,24.0,46.0,21.0,30.0

In [36]:
subdomain2 = df_result[['Student TEIDS ID','Self-Care rawScore', 'Adult Interaction rawScore', 'Self-Concept and Social Role rawScore', 'Receptive Communication rawScore', 'Expressive Communication rawScore', 'Gross Motor rawScore', 'Fine Motor rawScore', 'Attention and Memory rawScore', 'Perception and Concepts rawScore', 'Personal Responsibility rawScore', 'Peer Interaction rawScore', 'Perceptual Motor rawScore', 'Reasoning and Academic Skills rawScore']]
subdomain2

ColumnName,Student TEIDS ID,Self-Care rawScore,Adult Interaction rawScore,Self-Concept and Social Role rawScore,Receptive Communication rawScore,Expressive Communication rawScore,Gross Motor rawScore,Fine Motor rawScore,Attention and Memory rawScore,Perception and Concepts rawScore,Personal Responsibility rawScore,Peer Interaction rawScore,Perceptual Motor rawScore,Reasoning and Academic Skills rawScore
0,52101,2.0,14.0,6.0,4.0,1.0,5.0,5.0,6.0,5.0,NaN,NaN,NaN,NaN
1,416571,32.0,37.0,20.0,27.0,28.0,58.0,34.0,28.0,14.0,1.0,8.0,15.0,8.0
2,419105,46.0,44.0,32.0,32.0,36.0,62.0,36.0,35.0,18.0,7.0,6.0,20.0,10.0
3,419833,47.0,45.0,44.0,41.0,51.0,72.0,34.0,40.0,24.0,10.0,8.0,20.0,12.0
4,423227,32.0,20.0,14.0,22.0,4.0,54.0,29.0,26.0,12.0,0.0,4.0,14.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17353,571437,26.0,30.0,18.0,26.0,26.0,54.0,29.0,31.0,14.0,10.0,9.0,16.0,10.0
17354,580447,0.0,5.0,1.0,5.0,3.0,3.0,2.0,4.0,3.0,NaN,NaN,NaN,NaN
17355,580709,31.0,30.0,12.0,20.0,30.0,62.0,28.0,26.0,12.0,4.0,14.0,12.0,12.0
17356,650159,30.0,43.0,27.0,26.0,28.0,58.0,30.0,30.0,13.0,8.0,4.0,14.0,9.0
17357,xxxxxxx,22.0,32.0,13.0,17.0,16.0,46.0,24.0,26.0,12.0,NaN,NaN,NaN,NaN

no_nulls_eco_exit['Entry Test Date'] = no_nulls_eco_exit['BDI 3\nECO_Entry_DATE'].where(no_nulls_eco_exit['BDI 3\nECO_Entry_DATE'] == no_nulls_eco_exit['ECO_Entry_DATE'], other = no_nulls_eco_exit['BDI2 Entry Date'])

In [48]:
df_eco_data['Entry Test Date'] = df_eco_data['BDI 3\nECO_Entry_DATE'].where(df_eco_data['BDI 3\nECO_Entry_DATE'] == df_eco_data['ECO_Entry_DATE'], other = df_eco_data['BDI2 Entry Date'])

C:\Users\jswin\AppData\Local\Temp\ipykernel_40692\4037188389.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_eco_data['Entry Test Date'] = df_eco_data['BDI 3\nECO_Entry_DATE'].where(df_eco_data['BDI 3\nECO_Entry_DATE'] == df_eco_data['ECO_Entry_DATE'], other = df_eco_data['BDI2 Entry Date'])

In [50]:
df_eco_data.dropna(subset=['Entry Test Date'], inplace=True)
df_eco_data

C:\Users\jswin\AppData\Local\Temp\ipykernel_40692\196105769.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_eco_data.dropna(subset=['Entry Test Date'], inplace=True)

,CHILD_ID,ECO_Entry_DATE,ECO_Exit_DATE,Initial IFSP Date,Exit Date \nOr end of FY,TEIDS\nECO_Entry_DATE,AEPSi\nECO_Entry_DATE,AEPSi \nECO_Exit_DATE,BDI 3\nECO_Entry_DATE,BDI 3\nECO_Exit_DATE,BDI2 Entry Date,More than 182 days btwn ECO (continued) and Exit?,Days btw I-IFSP to Exit ECO,Entry Test Date
4,474848,2021-07-09,8/4/2023,7/9/2021,12/13/2023,7/9/2021,7/23/2021,11/4/2022,NaT,8/4/2023,6/22/2021,Yes,756,2021-06-22
5,474967,2020-01-31,7/31/2023,1/31/2020,10/6/2023,1/31/2020,NaN,NaN,NaT,7/31/2023,1/7/2020,Yes,1277,2020-01-07
7,475907,2020-02-20,11/15/2023,2/20/2020,11/28/2023,2/20/2020,7/2/2020,12/21/2022,NaT,11/15/2023,1/17/2020,Yes,1364,2020-01-17
8,476193,2020-02-24,2/27/2023,2/24/2020,11/1/2023,2/24/2020,6/15/2020,6/27/2022,NaT,2/27/2023,1/23/2020,Yes,1099,2020-01-23
17,478004,2020-03-31,3/9/2023,3/31/2020,8/17/2023,3/31/2020,NaN,NaN,NaT,3/9/2023,2/20/2020,Yes,1073,2020-02-20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9628,569251,2023-12-26,9/25/2024,1/5/2024,6/30/2024,NaN,NaN,NaN,2023-12-26,9/25/2024,NaN,No,264,2023-12-26
9638,569363,2023-12-14,10/30/2024,1/26/2024,6/24/2024,NaN,NaN,NaN,2023-12-14,10/30/2024,NaN,No,278,2023-12-14
9646,569449,2023-12-21,10/31/2024,1/25/2024,6/30/2024,NaN,NaN,NaN,2023-12-21,10/31/2024,NaN,No,280,2023-12-21
9692,570254,2024-01-04,10/23/2024,2/12/2024,6/30/2024,NaN,NaN,NaN,2024-01-04,10/23/2024,NaN,No,254,2024-01-04
9714,570632,2024-01-11,10/29/2024,2/7/2024,6/30/2024,NaN,NaN,NaN,2024-01-11,10/29/2024,NaN,No,265,2024-01-11

In [52]:
df_eco_data['Exit Test Date'] = df_eco_data['BDI 3\nECO_Exit_DATE'].where(df_eco_data['BDI 3\nECO_Exit_DATE'] == df_eco_data['ECO_Exit_DATE'], other = df_eco_data['BDI 3\nECO_Exit_DATE'])

C:\Users\jswin\AppData\Local\Temp\ipykernel_40692\4053215887.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_eco_data['Exit Test Date'] = df_eco_data['BDI 3\nECO_Exit_DATE'].where(df_eco_data['BDI 3\nECO_Exit_DATE'] == df_eco_data['ECO_Exit_DATE'], other = df_eco_data['BDI 3\nECO_Exit_DATE'])

In [54]:
df_eco_data

,CHILD_ID,ECO_Entry_DATE,ECO_Exit_DATE,Initial IFSP Date,Exit Date \nOr end of FY,TEIDS\nECO_Entry_DATE,AEPSi\nECO_Entry_DATE,AEPSi \nECO_Exit_DATE,BDI 3\nECO_Entry_DATE,BDI 3\nECO_Exit_DATE,BDI2 Entry Date,More than 182 days btwn ECO (continued) and Exit?,Days btw I-IFSP to Exit ECO,Entry Test Date,Exit Test Date
4,474848,2021-07-09,8/4/2023,7/9/2021,12/13/2023,7/9/2021,7/23/2021,11/4/2022,NaT,8/4/2023,6/22/2021,Yes,756,2021-06-22,8/4/2023
5,474967,2020-01-31,7/31/2023,1/31/2020,10/6/2023,1/31/2020,NaN,NaN,NaT,7/31/2023,1/7/2020,Yes,1277,2020-01-07,7/31/2023
7,475907,2020-02-20,11/15/2023,2/20/2020,11/28/2023,2/20/2020,7/2/2020,12/21/2022,NaT,11/15/2023,1/17/2020,Yes,1364,2020-01-17,11/15/2023
8,476193,2020-02-24,2/27/2023,2/24/2020,11/1/2023,2/24/2020,6/15/2020,6/27/2022,NaT,2/27/2023,1/23/2020,Yes,1099,2020-01-23,2/27/2023
17,478004,2020-03-31,3/9/2023,3/31/2020,8/17/2023,3/31/2020,NaN,NaN,NaT,3/9/2023,2/20/2020,Yes,1073,2020-02-20,3/9/2023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9628,569251,2023-12-26,9/25/2024,1/5/2024,6/30/2024,NaN,NaN,NaN,2023-12-26,9/25/2024,NaN,No,264,2023-12-26,9/25/2024
9638,569363,2023-12-14,10/30/2024,1/26/2024,6/24/2024,NaN,NaN,NaN,2023-12-14,10/30/2024,NaN,No,278,2023-12-14,10/30/2024
9646,569449,2023-12-21,10/31/2024,1/25/2024,6/30/2024,NaN,NaN,NaN,2023-12-21,10/31/2024,NaN,No,280,2023-12-21,10/31/2024
9692,570254,2024-01-04,10/23/2024,2/12/2024,6/30/2024,NaN,NaN,NaN,2024-01-04,10/23/2024,NaN,No,254,2024-01-04,10/23/2024
9714,570632,2024-01-11,10/29/2024,2/7/2024,6/30/2024,NaN,NaN,NaN,2024-01-11,10/29/2024,NaN,No,265,2024-01-11,10/29/2024

In [56]:
df_eco_data[df_eco_data['Days btw I-IFSP to Exit ECO']>180]

,CHILD_ID,ECO_Entry_DATE,ECO_Exit_DATE,Initial IFSP Date,Exit Date \nOr end of FY,TEIDS\nECO_Entry_DATE,AEPSi\nECO_Entry_DATE,AEPSi \nECO_Exit_DATE,BDI 3\nECO_Entry_DATE,BDI 3\nECO_Exit_DATE,BDI2 Entry Date,More than 182 days btwn ECO (continued) and Exit?,Days btw I-IFSP to Exit ECO,Entry Test Date,Exit Test Date
4,474848,2021-07-09,8/4/2023,7/9/2021,12/13/2023,7/9/2021,7/23/2021,11/4/2022,NaT,8/4/2023,6/22/2021,Yes,756,2021-06-22,8/4/2023
5,474967,2020-01-31,7/31/2023,1/31/2020,10/6/2023,1/31/2020,NaN,NaN,NaT,7/31/2023,1/7/2020,Yes,1277,2020-01-07,7/31/2023
7,475907,2020-02-20,11/15/2023,2/20/2020,11/28/2023,2/20/2020,7/2/2020,12/21/2022,NaT,11/15/2023,1/17/2020,Yes,1364,2020-01-17,11/15/2023
8,476193,2020-02-24,2/27/2023,2/24/2020,11/1/2023,2/24/2020,6/15/2020,6/27/2022,NaT,2/27/2023,1/23/2020,Yes,1099,2020-01-23,2/27/2023
17,478004,2020-03-31,3/9/2023,3/31/2020,8/17/2023,3/31/2020,NaN,NaN,NaT,3/9/2023,2/20/2020,Yes,1073,2020-02-20,3/9/2023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9628,569251,2023-12-26,9/25/2024,1/5/2024,6/30/2024,NaN,NaN,NaN,2023-12-26,9/25/2024,NaN,No,264,2023-12-26,9/25/2024
9638,569363,2023-12-14,10/30/2024,1/26/2024,6/24/2024,NaN,NaN,NaN,2023-12-14,10/30/2024,NaN,No,278,2023-12-14,10/30/2024
9646,569449,2023-12-21,10/31/2024,1/25/2024,6/30/2024,NaN,NaN,NaN,2023-12-21,10/31/2024,NaN,No,280,2023-12-21,10/31/2024
9692,570254,2024-01-04,10/23/2024,2/12/2024,6/30/2024,NaN,NaN,NaN,2024-01-04,10/23/2024,NaN,No,254,2024-01-04,10/23/2024
9714,570632,2024-01-11,10/29/2024,2/7/2024,6/30/2024,NaN,NaN,NaN,2024-01-11,10/29/2024,NaN,No,265,2024-01-11,10/29/2024

In [70]:
df_eco_data['ECO_Entry_DATE'] = pd.to_datetime(df_eco_data['ECO_Entry_DATE'])
df_eco_data['ECO_Exit_DATE'] = pd.to_datetime(df_eco_data['ECO_Exit_DATE'])

C:\Users\jswin\AppData\Local\Temp\ipykernel_40692\1679585227.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_eco_data['ECO_Entry_DATE'] = pd.to_datetime(df_eco_data['ECO_Entry_DATE'])
C:\Users\jswin\AppData\Local\Temp\ipykernel_40692\1679585227.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_eco_data['ECO_Exit_DATE'] = pd.to_datetime(df_eco_data['ECO_Exit_DATE'])

In [96]:
New_column = df_eco_data['ECO_Exit_DATE'] - df_eco_data['ECO_Entry_DATE']
New_column

4       756 days
5      1277 days
7      1364 days
8      1099 days
17     1073 days
          ...
9628    274 days
9638    321 days
9646    315 days
9692    293 days
9714    292 days
Length: 4123, dtype: timedelta64[ns]

In [100]:
df_eco_data = pd.append(['New_column'])

AttributeError: module 'pandas' has no attribute 'append'

In [72]:
df_eco_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4123 entries, 4 to 9714
Data columns (total 15 columns):
 #   Column                                             Non-Null Count  Dtype
---  ------                                             --------------  -----
 0   CHILD_ID                                           4123 non-null   int64
 1   ECO_Entry_DATE                                     4123 non-null   datetime64[ns]
 2   ECO_Exit_DATE                                      4123 non-null   datetime64[ns]
 3   Initial IFSP Date                                  4123 non-null   object
 4   Exit Date
Or end of FY                            4123 non-null   object
 5   TEIDS
ECO_Entry_DATE                               1189 non-null   object
 6   AEPSi
ECO_Entry_DATE                               260 non-null    object
 7   AEPSi
ECO_Exit_DATE                               260 non-null    object
 8   BDI 3
ECO_Entry_DATE                               1449 non-null   datetime64[ns]
 9   BDI 3
ECO_Exit_DATE                                4123 non-null   object
 10  BDI2 Entry Date                                    2731 non-null   object
 11  More than 182 days btwn ECO (continued) and Exit?  4123 non-null   object
 12  Days btw I-IFSP to Exit ECO                        4123 non-null   int64
 13  Entry Test Date                                    4123 non-null   datetime64[ns]
 14  Exit Test Date                                     4123 non-null   object
dtypes: datetime64[ns](4), int64(2), object(9)
memory usage: 515.4+ KB